<h1><%= @document.name %></h1>
<p>Uploaded <%= time_ago_in_words @document.created_at %> ago</p>
<p><%= @document.line_count %> lines</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Line</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @document.lines.first(20).each do |l| %>
      <tr>
        <td><%= l.number %></td>
        <td><%= l.content %></td>
      </tr>
      <% end %>
    </tbody>
